@import "tailwindcss";

/* Google Fonts */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ArchivoBlack";
  src: url("./assets/fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

@theme {
  /* Fonts */
  --font-sans: "Poppins", sans-serif;
  --font-headline: "ArchivoBlack", sans-serif;

  /* Colors */
  --color-primary: #53eafd;
}

.section {
  @apply relative container mx-auto flex flex-col items-center px-5 py-5 md:px-0 md:py-10;
}

.title {
  @apply font-headline text-primary text-3xl font-semibold text-balance md:text-6xl;
}

.subtitle {
  @apply font-headline text-lg font-medium text-balance text-black/75 md:text-3xl dark:text-gray-200;
}

.paragraph {
  @apply text-black/75 md:text-2xl dark:text-gray-200;
}

.circle {
  @apply bg-primary absolute -left-1.5 size-4 rounded-full;
}

.input {
  @apply w-full rounded-md border border-gray-300 p-2 placeholder:text-gray-400 dark:text-white dark:placeholder:text-gray-200;
}

.line {
  @apply bg-primary absolute flex h-[calc(100%+16px)] w-1 justify-center rounded-full;
}

.btn {
  @apply bg-primary border-primary hover:text-primary cursor-pointer rounded-md border-2 px-5 py-2 font-bold text-black duration-300 hover:bg-transparent;
}
